* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	border: none;
	outline: none;
}

.box_upload {
	padding: 20px;
	border-radius: 6px;
	border: 1px dashed #000;
}

.box_upload label {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.category_menu_select li {
	padding: 4px 10px;
	border-left: 1px dashed #000;
}

.category_selected {
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;
}

.category_selected.category_select {
	background-color: #000;
	color: #fff;
}

.action {
	position: relative;
	padding-left: 20px;
	display: inline-block;
	color: #747070;
}

.action::after {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 99px;
	background-color: #1fe11e;
	position: absolute;
	top: 34px;
	left: 55px;
	transform: translateY(50%);
}

.disabled {
	position: relative;
	padding-left: 20px;
	display: inline-block;
}

.disabled::after {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 99px;
	background-color: #f72323;
	position: absolute;
	top: 34px;
	left: 55px;
	transform: translateY(50%);
}

.button {
	padding: 10px 20px;
	color: #fff;
	margin-right: 20px;
	text-decoration: none;
	border-radius: 8px;
	font-weight: 500;
}

.button:hover {
	color: #fff;
}

thead {
	padding: 10px 0;
}

table thead th {
	font-weight: 500;
}

.manager .search {
	border: 1px solid #eee;
	padding: 5px 8px;
	border-radius: 8px;
}

.manager .search button {
	background-color: transparent;
	border-left: 1px solid #eee;
}

tbody tr {
	border-bottom: 1px solid #eee;
}

.details-item {
	box-shadow: 0 0 11px 2px #eee;
}

.border-radius-image {
	border-radius: 99px;
}

.details-item ul li div span:last-child {
	color: #747070;
	font-size: 16px;
}

.user-add {
	max-width: 700px;
}

.avata {
	cursor: pointer;
}

.box-admin {
	z-index: 999;
}

.radio-item {
	border: 1px solid #000;
	border-radius: 99px;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

.actived {
	background: #000;
	color: #fff;
}

table thead th {
	padding: 10px !important;
}

table tbody tr td {
	padding: 10px !important;
}

.form-edit {
	transition: all 0.6s ease-in-out;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(250%, -50%);
	z-index: 20;
	padding: 50px;
	border-radius: 20px;
	max-width: fit-content;
	background-color: #fff;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btn_close_form {
	position: absolute;
	top: -10px;
	right: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	font-size: 18px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transition: all 0.2s ease-in-out;
}

.btn_close_form:hover {
	padding: 20px;
}

.overlay {
	transition: all 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
	backdrop-filter: blur(5px) !important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.overlay.active {
	opacity: 1;
	visibility: inherit;
}

.form-edit.active {
	opacity: 1;
	transform: translate(-50%, -50%);
}
